
h1 Who will be your teacher?

img(style="float:right; margin:0 0 10px 10px;", src="/machteldvoerman.png")

p.
    My name is Machteld Voerman.
    I have been teaching 'Dutch as a second language' since 2001, first as a
    volunteer at the refugee centre in Wageningen, after that at ROC A12
    (secondary education) and freelance.

p I know from experience what moving to a foreign country and learning its language means.

p.
    Between 1985 and 2001 I have lived in B&eacute;nin (West Africa), Indonesia and the USA. The more you understand a language, the better you understand the people and their culture.  But I also experienced that it is possible to spend several years in a country without further improving your language skills. Learning a language takes time and effort as well as people who are willing to correct your mistakes in a friendly, effective way. If I asked people to correct my errors, they often answered: "We understand what you mean". But then you keep making the same mistakes over and over again and that bothered me.

p.
    Back in the Netherlands I decided to become a trainer in 'Dutch as a second language'.
    After graduating I worked for ROC A12 with a wide range of students:
    from illiterates to university students from over 32 countries, individually and in groups.

p.
    In 2010 I founded my own company: Roodwitblauw. I expected to be able to help many people from Wageningen and surroundings to improve their Dutch in an effective and relaxed way. Now I can say that more than 50 people from 20 different countries have found their way to Roodwitblauw and are experiencing what the improvement of their Dutch means in their day to day lives at work and socially.


