
h1 Aanbevelingen

h2 ar.tem.eva

em Geplaatst op: 18 juli 2011

p Nederlandse les in Wageningen

p Een ieder die zijn of haar Nederlands wil verbeteren is bij Machteld aan het goede adres!
p Zij heeft mij uitstekend geholpen, vooral met de voorbereidingen bij sollicitaties, wat uiteindelijk resulteerde in een nieuwe baan!
p Ondanks dat ik al 7 jaar in Nederland woon, bleek dat ik problemen kreeg bij het solliciteren, gewoon omdat mijn Nederlands, naar mijn idee, niet voldoende was. Met hulp van Machteld en haar toewijding ben ik daar vanaf.
p Kortom, door haar doelgerichte lessen heb ik meer zelfvertrouwen in mijn persoon en in mijn Nederlandse taal.
p Olga

hr

h2 cynaps

em Geplaatst op: 20 juni 2011

p dutch teacher in Wageningen

p 10 months ago, I came to the Netherlands to live with my dutch partner. We were searching for a Dutch teacher who would be able to help me to improve my Dutch very quick in order to work here again as Physiotherapist (job I was already doing in France since 3 years). Machteld was friendly, encouraging and attentive to what I wanted en needed to learn to reach my goal. She advised me in many ways and thanks to her help with learning the language, I could, 6 month later get the recognition from my diploma in the Netherlands and find work as Physiotherapist again.

hr

h2 aysel_399

em Geplaatst op: 2 februari 2011

p Before I chose Machteld as my teacher I had had interviews with other candidates. I decided on her because during the intake she was positive, enthusiastic and the most important was that she gave me the confidence that she was the one who could help me. When we began I didn't know a word in Dutch. Now, after 5 months I am writing this piece (see below) in Dutch!
p She is a responsible teacher who is always prepared for the lesson. She prepares extra material (extra grammar exercises from other books, articles from newspapers, songs etc) according to the theme and the grammar of the lesson beforehand. She is very creative in teaching methods. Each lesson we do prosody (rhythm of the language) and spelling exercises, and quick question-and-answer games. What's more, during the lesson we speak a lot in Dutch. She follows not only the book but also uses pictures to describe or we play games in which I should think up and tell a story. Moreover, she always searches in internet, on TV or in newspapers/magazines for materials that are both good for advancing my Dutch and at the same time are fun. 
p Furthermore she is a great person. She always motivates and helps me.
p If you want to learn, to advance or just want to speak Dutch well, then you are at the right adress.
p Voordat ik Machteld als mijn lerares koos, had ik met andere kandidaten ook gesprekken. Ik besloot voor haar te kiezen, want tijdens de intake ze was positief, enthousiast en het belangrijkste was dat ze me het vertrouwen gaf dat zij degene was die mij kon helpen. Toen we begonnen kende ik geen woord Nederlands. Nu, na 5 maanden schrijf ik dit stukje in het Nederlands!
p Ze is een verantwoordelijke leerkracht die altijd voor de les voorbereid is. Ze zoekt van tevoren extra materiaal (extra grammatica-oefeningen uit andere boeken, artikelen uit kranten, liedjes enz.) bij het thema en de grammatica van de les. Ze is erg creatief in lesmethoden. Elke les doen we intonatie- en spellingoefeningen en snelle vraag-en-antwoord spelletjes. En we spreken veel in het Nederlands. Ze volgt niet alleen het boek, maar gebruikt ook foto's, of we spelen spelletjes waarin ik een verhaal moet bedenken en vertellen. Bovendien is ze altijd op zoek in internet, op tv of in kranten / tijdschriften voor materialen die goed zijn voor de voortgang van mijn Nederlands, maar tegelijkertijd leuk.
p Verder is ze een geweldig persoon. Ze motiveert en helpt me altijd.
p Als u Nederlands wilt leren om vooruit te komen of u wilt gewoon goed Nederlands spreken, dan bent u bij RoodWitBlauw aan het juiste adres.
p Groeten,
p Aysel Mammadova

hr

h2 fab

em Geplaatst op: 18 augustus 2010

p Dutch lessons in Wageningen

p I would certainly recommend this teacher to anyone who would like to start a proper Dutch course or improve his/her Dutch. I find private lessons much more profitable than group courses, that's why I had chosen this teacher. I then realized that she spends much more time for you than just the typical one or two hours per week for the lessons. With simple conversations she figures out what your level is, what may be potential obstacles in the beginning (e.g. you being too concerned about picking up every single detail of the grammar, but I am probably an isolated case) and what the best road for you to improve. Between the lessons, she constantly searches newspapers and web sites for articles and especially training material which helps you in the learning process. She is always happy to answer questions via e-email and start a profitable discussion over a topic. She also encourages the student to be curious about the language and to explore various and inexpensive learning media available on the internet. Dus, uitstekend. And. most important: during the lesson you get a cup of tea..

hr

h2 darja.kragic

em Geplaatst op: 13 juni 2010

p Nederlandse les in Wageningen

p Hallo,

p Ik was een van de gelukkigen die Machteld Voerman ontmoet heeft. Zij is een lerares die probeert altijd haar studenten te motiveren en is een zeer positief persoon. Machteld maakt speciale programma's voor elke student op maat. Misschien twee woorden die haar het beste beschrijven als Nederlandse lerares zijn: professioneel en leuk! Dus voor wie hun Nederlands willen verbeteren ben je bij Machteld aan het juiste adres.

p Groeten,
p Darja Kok

hr

h2 titran

em Geplaatst op: 11 januari 2010

p Nederlandse les voor buitenlanders in Wageningen

p.
    Vijf jaar geleden heb ik Machteld Voerman in een groeples leren kennen. Wat een lerares! Zij is heel aardig, heeft een enorme ervaring en zij houdt zeker van haar werk. Toen ik een beginner was, was Machteld precies wie ik nodig had.

p.
    Recentelijk wilde ik mijn niveau van het Nederlands nog verbeteren: ik durfde bijvoorbeeld niet om te schrijven en op mijn werk in het Nederlands te communiceren. Dus heb ik opnieuw contact met haar opgenomen. Sinds 3 maanden zijn wij met de les op maat formule begonnen. Elke les is echt een plezier! Zij luistert eerst met aandacht en zonder mij teveel te corrigeren, zodat zij precies kan doceren wat ik nodig heb. Zij heeft veel oefenboeken; je hoeft niets te kopen, behalve een schrift en een pen. Zij kan de reden van een regel heel duidelijk uitleggen, want voor een buitenlander mag het niet altijd zo is het zijn!

p Ik woon zes jaar in Nederland en nu kan ik eindelijk een e-mail schrijven zonder een half uur aan elke zin te besteden! Al na een paar maanden kunnen mijn vrienden een groot verschil merken!

p Simona Della Valentina

