
h1 Wat mag u van Roodwitblauw verwachten?

h2 De intake

p Tijdens de intake van 30 minuten beantwoorden we verschillende vragen.

ul 
  li
    b Wat wilt u bereiken? <br />
    | Elke leerling heeft een ander doel. U kunt uw doel altijd bijstellen.
  li
    b Wat is uw niveau? <br />
    | Tijdens de intake heeft de docent meestal al snel een idee van uw niveau.
    | Om uw niveau precies vast te stellen, kan er ook een lees-, luister- en/of schrijftoets afgenomen worden.
    | Hiervoor wordt dan een aparte afspraak gemaakt.
  li
    b Hoe vaak, hoe lang en waar wilt u les hebben? <br />
    | Hier is van alles mogelijk: privélessen worden meestal bij RWB gegeven,
    | maar de docent kan ook bij u thuis komen.

h2 De lessen

p.
    U bepaalt wat u wilt leren. Vaak begint de les met een gesprek.
    Daaruit blijkt welke problemen u heeft met uw Nederlands.
    De docent legt uit welke fouten u maakt en wat u daaraan kunt doen.
    Als u wilt, krijgt u oefeningen als huiswerk mee.

p.
    U kunt ook zelf onderwerpen aandragen, zoals bepaalde grammaticale constructies
    of het schrijven van een e-mail of document voor uw werk.

p U kunt altijd vragen stellen, ook tussen de lessen door, via e-mail.

h2 Het lesmateriaal

p.
    Bij RWB is heel veel materiaal aanwezig en als dat nodig is wordt ook nieuw materiaal aangeschaft. De docent verzamelt lesmateriaal, dat precies bij u past.  RWB heeft contact met uitgeverijen en andere docenten, zodat voor elke leerwens geschikt materiaal gevonden wordt.  Er is geluids- en beeldmateriaal en er zijn krantenartikelen over uiteenlopende onderwerpen. RWB beschikt over verschillende methoden die voorbereiden op het Staatsexamen I of II, inclusief voorbeeldexamens.

h2 De kosten

p.
    Voor de lessen geldt een uurtarief, zoals vermeld op de home page van deze website.

p.
    De lessen kunnen contant betaald worden of via de bank, na ontvangst van een rekening.
    De rekeningen worden maandelijks verstuurd. Groepen  betalen 5 lessen vooruit.

p.
    Het lesmateriaal dat RWB zelf ontwikkelt, is gratis.
    Eventuele boeken moet u zelf aanschaffen of lenen uit de bibliotheek.

