
h1 Welkom!

h2 Herkent u dit?

ul
  li U kunt niet altijd duidelijk maken wat u bedoelt.
  li U begrijpt grapjes en uitdrukkingen soms niet.
  li U weet dat u fouten maakt als u praat.
  li U durft geen Nederlandse brief of e-mail te versturen.
  li U zou uw Nederlands willen verbeteren, maar u wilt geen langdurige cursus.

h2 Maak een traject op maat!

p.
    Bepaal zelf wat u wilt leren en hoeveel lessen u wilt hebben.
    In overleg met de docent wordt vastgesteld waar en hoe laat u les wilt hebben.

h2 Interesse?

p.
    Prive lessen: &euro;30,= per uur.<br />
    Groepslessen (t/m 4 personen): &euro;40,= per uur.<br />
    Bedrijfstrainingen: prijs op aanvraag.<br />
    U krijgt een gratis intake van 30 minuten.<br />
    Docent: Machteld Voerman<br />
    Website: <a href="http://roodwitblauw.com/">http://roodwitblauw.com/</a><br />
    E-mail: <a href="mailto:info@roodwitblauw.com">info@roodwitblauw.com</a>

