
body {
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
  font-size:16px;
}

#top {
  padding:10px 15px;
  position:relative;
  background:#f5f5f5;
  border-bottom:1px solid #ddd;
}

ul#menu {
  margin:0 0 0 235px;
  padding:0;
}

ul#menu li {
  margin:2px 0;
  padding:0;
  list-style:none;
}

ul#menu li a {
  font-size:20px;
  color:#b8b8b8;
  font-weight:bold;
  text-decoration:none;
  letter-spacing:-1px;
  text-shadow:2px 2px 0 #eee;
}

ul#menu li.active a {
  color:#000;
  padding-left:3px;
  text-shadow:2px 2px 0 #ddd;
}

a.logo {
  display:block;
  position:absolute;
  width:217px;
  height:240px;
  background:transparent url("logo.png") no-repeat top left;
}

#content {
  margin-left:250px;
  max-width:900px;
}

#content p,
#content li,
#content dd {
  line-height:140%;
  color:#333;
}

#content p {
  margin:10px 0;
}

#content .col {
  float:left;
  width:50%;
}

h1 {
  margin:20px 0 10px 0;
  font-size:40px;
  letter-spacing:-1px;
  text-shadow:2px 2px 0px #ddd;
}

h2 {
  margin:20px 0 15px 0;
  color:#124d9e;
  font-size:20px;
}

dt {
  font-weight:bold;
  margin:10px 0 5px 0;
}

.page {
  display:none;
}

#page-home {
  display:block;
}

.content {
  padding-right:15px;
}

p.meta {
  font-style:italic;
}

p.footer {
  margin:100px 0 50px 0;
  text-align:center;
  color:#888;
}
