
body {
  margin:0;
  padding:0;
  background:#fff url("logo-w250.png") no-repeat 15px 50px fixed;
  
  font-family:Georgia, "Times new Roman", serif;
  font-size:16px;
  color:#333;
}
h1 {
  margin:20px 0 15px 0;
  font-family:Helvetica, Arial, sans-serif;
  letter-spacing:-1px;
  font-size:35px;
  line-height:45px;
  color:#000;
  border-bottom:2px solid #eee;
}
h2 {
  margin:20px 0 10px 20px;
  font-family:Helvetica, Arial, sans-serif;
  font-size:20px;
  color:#1C3A94;
}
p {
  margin:10px 0;
  line-height:22px;
  font-size:16px;
}
.body ul {
  margin:10px 0;
  padding:0 0 0 20px;
}
.body dl {
  margin:10px 0;
  padding:0;
}
.body ul li,
.body dl dt,
.body dl dd {
  line-height:22px;
}
.body dl dt {
  font-weight:bold;
}
ul.menu {
  position:fixed;
  top:0;
  left:0;
  margin:0;
  padding:10px 15px;
  width:100%;
  background:#fff;
}
ul.menu li {
  float:left;
  list-style:none;
  margin:0 15px 0 0;
}
ul.menu li a {
  font-size:16px;
  color:#2A57DE;
  font-family:Helvetica, Arial, sans-serif;
}
ul.menu li a.active {
  color:#000;
  font-weight:bold;
  letter-spacing:-1px;
  text-decoration:none;
}
ul.language-menu {
  position:fixed;
  top:350px;
  left:85px;
  margin:0;
  padding:0;
  width:150px;
  background:#fff;
}
ul.language-menu li {
  list-style:none;
  margin:0 0 10px 0;
  text-align:center;
}
ul.language-menu li a {
  font-family:Helvetica, Arial, sans-serif;
  font-size:18px;
  text-decoration:underline;
  color:#2A57DE;
}
ul.language-menu li a.active {
  color:#000;
  font-weight:bold;
  letter-spacing:-1px;
  text-decoration:none;
}
.body {
  margin:50px 0 0 280px;
  width:500px;
}
.footer {
  margin:100px 20px 50px 20px;
}
.footer p {
  margin:6px 0;
  font-size:14px;
  font-family:Helvetica, Arial, sans-serif;
  color:#777;
  text-align:center;
}
.footer a {
  color:#555;
}
